
*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
:not(p){
    font-size: 12px;
}
.wrapper{
    background: url("../assets/quick-money.jpg");
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}
.wrappers-loan{
    margin: 0;
    padding: 0;
}
.wrappe-contents{
    background: rgba(0, 0, 0, 0.884);
    height: 100%;
    width: 100%;
    position: absolute;
}
.main-header{
    background: #101235;
    background: rgb(137,111,140);
    background: linear-gradient(110deg, rgba(137,111,140,1) 0%, rgba(16,18,53,1) 62%);
    width: 100%;
    /* position: fixed; */
    top: 0;
    bottom: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    
}
span#logo-name{
    font-weight: 300;
    font-size: 25px;
}
.main-header .main-header__brand{
    text-decoration: none;
    font-size: 25px;
    margin: 0;
    font-weight: 900;
    padding: 0;
    vertical-align: middle;
}
.main-nav__item a,
.main-header .main-header__brand{
    color: #ffffff;
}
.main-header > div{
    display: inline-block;
}

/* main Navbar list items */
        .main-nav{
            list-style: none;
            display: inline-block;
            text-align: right;
            width: calc(100% - 230px) 
        }
        .main-nav__item,
        .mobile-nav__item{
            display: inline-block;
        }
        li.monile-nav__item {
            padding: 5px;
        }
        li.monile-nav__item a {
            padding: 5px;
            color: white;
            text-decoration: none;
            font-weight: 900;
        }
        .main-nav__item a,
        .mobile-nav__item a{
            text-decoration: none;
            font-size: 13px;
            margin: 0 1em;
            font-weight: 700;
            padding: 1em 0;
        }
/* end of navbar lis items  */


/* making a hover and active class on link clicked */
        .main-nav__item a:hover,
        .mobile-nav__item a:hover,
        .mobile-nav__item a:active,
        .main-nav__item a:active{
             color: #d6d0d0;
             border-bottom: 2px solid #d6d0d0;
        }
        .main-nav__item--cta a,
        .mobile-nav__item--cta a
        {
            background: #d6d0d0;
            color: #101235;
            padding: 8px 16px;
            text-decoration: none;
            border: 8px;
            font-weight: 700;
        }
        .main-nav__item--cta a:hover,
        .mobile-nav__item--cta a:hover,
        .mobile-nav__item--cta a:active,
        .main-nav__item--cta a:active{
            color: #101235;
            border: 0px;
        }
      
/* end of cliking style on items */
.content >p{
    position: relative;
    top: 20%;
    bottom: 50%;
    margin: 40% auto;
    width: 100%;
    height: 50px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
  font-weight: 900;
  font-size: 20px;
    color: #a99c8d;

    line-height: -50px;
  
    /* transform: translate(0%,50%); */
   
}
.content .getStartedBtn{
position: absolute;
bottom: 40%;
margin: auto;
width: 150px;
text-align: center;

left: 0;
right: 0;
padding: 20px;
background: transparent;
border: 2px solid #d6d0d0;
color: #d6d0d0;
border-radius: 50px;
outline: none;
cursor: pointer;
transition: all .5s ease-in-out;
}
.content .getStartedBtn{
    color: #d6d0d0;
    text-decoration: none;
}
.content .getStartedBtn:hover{
background: #d6d0d0;
color: #101235;
}



  
/* end of login page */
.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    width: 100vw;
   /* z-index: -1;; */
    height: 100vh;
    background: rgba(0, 0, 0, 0.555);
  }



/* usermobile nav */


.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: #101235;
    width: 50%;
    height: 100vh;
  }
  
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    text-decoration: none;
    padding: 0;
    text-align: left;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
    text-decoration: none;
  }
/* end of user mobile nav */

/* making toggle button styles */
.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: rgb(169, 156, 141);
    display: block;
    margin: 0.6rem 0;
  }


/* large devices */

@media (min-width:45rem){
    button.toggle-button{
        display: none;
    }
    .main-header .main-header__brand{
       padding: 20px;
    }
}

/* small devices */
@media (max-width:45rem){
    .main-nav__item a{
        display: none;
    }
    .container-loan {
        display: block;
    }
    .user-register {
        width: 80%;
    }
    .cardLaon-lists{
        width: 95%;
        
    }
}